# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/obj
*/bin
test/Microsoft.Extensions.Configuration.Redis.Tests/obj/
src/Microsoft.Extensions.Configuration.Redis/obj/
src/Microsoft.Extensions.Configuration.Redis/bin/
test/Microsoft.Extensions.Configuration.Redis.Tests/bin/
.idea/
.vs/
